<div id="SOHUCS" sid="30000001834">
    <div id="SOHU_MAIN">
        <div node-type="cy-collection-btn" class="cy-collection-btn"><i></i><span>收藏文章</span></div>
<div class="module-cmt-header">
    <div class="cy-hidden">
        <button id="jump-to-kz"></button>
    </div>
    <div class="clear-g section-title-w">
        <div class="title-user-w">
            <div node-type="user" class="clear-g user-wrap-w">
                <span node-type="user-name" class="wrap-name-w"></span>
            </div>
        </div>
    </div>
    <div class="section-cbox-w">
        <div class="cbox-block-w clear-g">
            <div node-type="block-head-w" class="block-head-w">
                <div node-type="avatar" class="head-img-w">
                    <a href="javascript:void(0);">
                        <img node-type="user-head" src="https://changyan.sohu.com/upload/asset/scs/images/pic/pic42_null.gif" width="42" height="42" alt="">
                        <div node-type="head-img-ie-mask" class="head-img-ie-mask"></div>
                    </a>
                    <div node-type="notice-node" style="display: none" class="cy-avatar-notice-node"></div>
                                    </div>
                <div node-type="header-login" class="header-login">登录</div>
                <div class="cy-to-shequ-head">
                    <span>我的社区</span>
                </div>
                <div node-type="cy-hot-words" class="cy-hot-words"></div>
            </div>
            <div node-type="login-select" class="block-post-w">
                <!-- 放置cbox初始状态 -->
                <div class="module-cmt-box">
    <!-- 展开状态 -->
    <div class="post-wrap-w">
        <div class="post-wrap-border-l"></div>
        <div class="post-wrap-border-r"></div>
        <div node-type="post-wrap-main" class="post-wrap-main">
            <div class="post-wrap-border-t">
                <div node-type="post-wrap-border-t-l" class="post-wrap-border-t-l"></div>
                <div node-type="post-wrap-border-t-r" class="post-wrap-border-t-r"></div>
            </div>
            <div class="wrap-area-w">
                <div class="area-textarea-w">
                    <textarea node-type="textarea" name="" class="textarea-fw textarea-bf">有事没事说两句...</textarea>
                </div>
            </div>
        </div>
        <div class="clear-g wrap-action-w">
           <div class="action-function-w">
                <ul class="clear-g">
                    <li node-type="function-face" class="function-face-w">
                        <a class="effect-w" href="javascript:void(0)">
                            <i class="face-b"></i>
                        </a>
                    </li>
                    <li node-type="function-uploading" class="function-uploading-w">
                        <a class="effect-w" href="javascript:void(0)" title="上传图片">
                            <i class="uploading-b"></i>
                        </a>
                        <div class="uploading-file-w">
                            <a href="javascript:void(0);" name="" class="file-fw"></a>
                        </div>
                    <form style="display: none;"><input name="file" type="file" accept="image/jpg,image/jpeg,image/png"></form></li>
                </ul>
                <!-- 表情 -->
                <div node-type="face-box" class="face-wrapper-dw">
                    <div node-type="face-cont" class="wrapper-cont-dw">
                        <ul class="clear-g">
                            <li>
                                <span title="流汗" data_path="base" data-ubb="/流汗" class="face-item face_01"></span>
                            </li>
                            <li>
                                <span title="钱" data_path="base" data-ubb="/钱" class="face-item face_02"></span>
                            </li>
                            <li>
                                <span title="发怒" data_path="base" data-ubb="/发怒" class="face-item face_03"></span>
                            </li>
                            <li>
                                <span title="浮云" data_path="base" data-ubb="/浮云" class="face-item face_04"></span>
                            </li>
                            <li>
                                <span title="给力" data_path="base" data-ubb="/给力" class="face-item face_05"></span>
                            </li>
                            <li>
                                <span title="大哭" data_path="base" data-ubb="/大哭" class="face-item face_06"></span>
                            </li>
                            <li>
                                <span title="憨笑" data_path="base" data-ubb="/憨笑" class="face-item face_07"></span>
                            </li>
                            <li>
                                <span title="色" data_path="base" data-ubb="/色" class="face-item face_08"></span>
                            </li>
                        </ul>
                        <ul class="clear-g">
                            <li>
                                <span title="奋斗" data_path="base" data-ubb="/奋斗" class="face-item face_09"></span>
                            </li>
                            <li>
                                <span title="鼓掌" data_path="base" data-ubb="/鼓掌" class="face-item face_10"></span>
                            </li>
                            <li>
                                <span title="鄙视" data_path="base" data-ubb="/鄙视" class="face-item face_11"></span>
                            </li>
                            <li>
                                <span title="可爱" data_path="base" data-ubb="/可爱" class="face-item face_12"></span>
                            </li>
                            <li>
                                <span title="闭嘴" data_path="base" data-ubb="/闭嘴" class="face-item face_13"></span>
                            </li>
                            <li>
                                <span title="疑问" data_path="base" data-ubb="/疑问" class="face-item face_14"></span>
                            </li>
                            <li>
                                <span title="抓狂" data_path="base" data-ubb="/抓狂" class="face-item face_15"></span>
                            </li>
                            <li>
                                <span title="惊讶" data_path="base" data-ubb="/惊讶" class="face-item face_16"></span>
                            </li>
                        </ul>
                        <ul class="clear-g">
                            <li>
                                <span title="可怜" data_path="base" data-ubb="/可怜" class="face-item face_17"></span>
                            </li>
                            <li>
                                <span title="弱" data_path="base" data-ubb="/弱" class="face-item face_18"></span>
                            </li>
                            <li>
                                <span title="强" data_path="base" data-ubb="/强" class="face-item face_19"></span>
                            </li>
                            <li>
                                <span title="握手" data_path="base" data-ubb="/握手" class="face-item face_20"></span>
                            </li>
                            <li>
                                <span title="拳头" data_path="base" data-ubb="/拳头" class="face-item face_21"></span>
                            </li>
                            <li>
                                <span title="酒" data_path="base" data-ubb="/酒" class="face-item face_22"></span>
                            </li>
                            <li>
                                <span title="玫瑰" data_path="base" data-ubb="/玫瑰" class="face-item face_23"></span>
                            </li>
                            <li>
                                <span title="打酱油" data_path="base" data-ubb="/打酱油" class="face-item face_24"></span>
                            </li>
                        </ul>
                    </div>
                    <div node-type="user-face-cont" class="wrapper-user-face-dw nano">
                        <div class="nano-content">
                            <ul class="clear-g">
                                <li class="upload-face-btn"></li>
                                <li class="manage-face-btn"></li>
                                <li class="cancel-face-btn"></li>
                            </ul>
                        </div>
                    </div>
                    <div node-type="face-tab" class="action-face-tab-dw">
                        <ul class="clear-g">
                            <li node-type="official-face" class="official-face-btn active"></li>
                            <li node-type="user-face" class="user-face-btn" style="display: none;"></li>
                        </ul>
                    </div>
                    <div node-type="confirm-box" class="cy-confirm-box">
                        <div class="cy-confirm-text">
                            <span>表情删除后不可恢复，是否删除</span>
                        </div>
                        <div class="cy-confirm-btn-row">
                            <div class="cy-confirm-btn-cancel">取消</div>
                            <div class="cy-confirm-btn-confirm">确定</div>
                        </div>
                    </div>
                </div>
                <!--  上传图片 --><!--  uploading-efw -->
                <div node-type="uploading-wrapper" class="uploading-wrapper-dw uploading-efw ">
                    <div class="uploading-wrapper-dw-t"></div>
                    <div class="uploading-wrapper-dw-b"></div>
                    <div node-type="image-uploading" class="wrapper-loading-dw">
                        <div class="loading-word-dw"><span class="word-icon-dw"></span>图片正在上传，请稍后...</div>
                        <div class="loading-btn-dw">
                            <a href="javascript:void(0)">取消上传</a>
                        </div>
                    </div>
                    <div node-type="image-uploaded" class="wrapper-image-dw">
                        <div class="image-close-dw">
                            <a href="javascript:void(0)"></a>
                        </div>
                        <div class="image-pic-dw">
                            <img node-type="image-pic" alt="" src="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear-g action-issue-w">
                <div class="issue-btn-w">
                    <a href="javascript:void(0)">
                        <button node-type="issue" class="btn-fw"></button>
                    </a>
                </div>
            <!--
            <div class="issue-icon-w" node-type="share-icons">
                </div>
            -->
            </div>
            <div class="cbox-prompt-w" node-type="error-tips">
                <span node-type="prompt-empty" class="prompt-empty-w">评论内容为空！</span>
            </div>
        </div>
    </div>
</div>
                <!-- 放置cbox发布状态 -->
                <!-- 提示条 -->
                <!-- 零评论提示条 -->
                <div class="list-comment-empty-w">
                    
                </div>
                <!-- 提示连接到快站社区 -->
                <!-- <div class="list-comment-kuaizhan-w">
                    <div node-type="kuaizhan-prompt" class="kuaizhan-prompt-w">
                        <span class="prompt-text-w">点击查看更多精彩内容</span>
                    </div>
                </div> -->
                <!--关闭评论-->
                <div class="list-close-comment-w">
                    
                </div>
            </div>
        </div>
    </div>
</div><!-- 评论列表  S -->
<div node-type="module-cmt-list" class="module-cmt-list section-list-w">
    
    <div class="cmt-list-type">
        <ul class="clear-g type-lists">
                <li class="type-list active">评论</li>
                <!-- <li class="type-list">热门</li> -->
        </ul>
        <div class="cmt-list-border"></div>
        <div class="cmt-list-number">
            <span class="comment-number"><span class="cy-number">12</span>人参与,<span class="cy-number">12</span>条评论</span>
        </div>
    </div>
            <!-- 最新评论 -->
    <div class="list-block-gw list-newest-w">
        <div node-type="cmt-list-title" class="block-title-gw">
            <ul class="clear-g">
                <li>
                    <div class="title-name-gw title-name-bg">
                    <div class="title-name-gw-tag"></div>最新评论</div>
                </li>
            </ul>
        </div>
        <div node-type="cmt-list" id="cy-cmt-list"><div node-type="cmt-item" data-id="1457889930" data-user-id="877890135" data-platform-id="16" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="Jost丶">
                <div class="img-corner"></div>
                <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJ8YjJHVia5tUmhWeF2xib5qgcwaO3cxczsQcVd44f8AhX7ng5V8ysPSpKtkvsiaOh6XQCuDPmKNjfiaA/0" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">今日14:59</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">Jost丶</a></span>
                                
                <span class="user-address-gw">[<i>江西省南昌市</i>网友]</span>
                            </div>
            
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">看了这个排行，怎么感觉草帽团就是一群小罗罗</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1457890173" data-user-id="877890135" data-platform-id="16" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="Jost丶">
                <div class="img-corner"></div>
                <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJ8YjJHVia5tUmhWeF2xib5qgcwaO3cxczsQcVd44f8AhX7ng5V8ysPSpKtkvsiaOh6XQCuDPmKNjfiaA/0" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">今日14:59</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">Jost丶</a></span>
                                
                <span class="user-address-gw">[<i>江西省南昌市</i>网友]</span>
                            </div>
            
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">sssss</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1457879374" data-user-id="557558451" data-platform-id="16" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="青阳">
                <div class="img-corner"></div>
                <img src="http://wx.qlogo.cn/mmopen/AUeqw3pic24cNFjVzXZxh2ibD77kWvgDAeIZesuaaEhuXTdF4kTKnD9ZwyZicl51s8eXiadeIibcEb71kXdvGeso75DNd3vu4BDmH/0" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">今日14:34</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">青阳</a></span>
                                
                <span class="user-address-gw">[<i>广东省广州市</i>网友]</span>
                            </div>
            
            
            <!-- 盖楼 Begin -->
            <div class="wrap-build-gw">
                <div node-type="cmt-item floor-item" data-id="1457398939" data-user-id="-559244632" data-platform-id="14" class="build-floor-gw">     <div node-type="child-floor">
    </div>
    <div node-type="floor-content" class="build-msg-gw">
        <div class="wrap-user-gw">
            <span class="user-time-gw user-floor-gw">1</span>
            <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">林菲儿</a></span>
            
            <span class="user-address-gw">[<i>广东省深圳市</i>网友]</span>
                    </div>
        
        <div>
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">路飞不是打败了士力架吗,啥时候能升9亿10亿啊?</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="action-bar btns-bar" class="clear-g wrap-action-gw">
                <div class="action-click-gw">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw">
                    <a href="javascript:void(0)">回复</a>
                </span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                    <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                    <i class="gap-gw gap-line-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                    <a href="javascript:void(0)"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                </div>
            </div>
        </div>
            </div>
</div>
            </div>
            <!-- 盖楼 End -->
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">又不是单挑打过的，没有娜美根本打不过。</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1457865248" data-user-id="-559223731" data-platform-id="14" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="黯然神伤">
                <div class="img-corner"></div>
                <img src="http://qzapp.qlogo.cn/qzapp/101339263/0D76C2220D64F4D04F06B03A5901F10B/100" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">今日14:14</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">黯然神伤</a></span>
                                
                <span class="user-address-gw">[<i>福建省厦门市</i>网友]</span>
                            </div>
            
            
            <!-- 盖楼 Begin -->
            <div class="wrap-build-gw">
                <div node-type="cmt-item floor-item" data-id="1456988865" data-user-id="-1126476752" data-platform-id="14" class="build-floor-gw">     <div node-type="child-floor">
    </div>
    <div node-type="floor-content" class="build-msg-gw">
        <div class="wrap-user-gw">
            <span class="user-time-gw user-floor-gw">1</span>
            <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">夏天的尾巴</a></span>
            
            <span class="user-address-gw">[<i>浙江省衢州市</i>网友]</span>
                    </div>
        
        <div>
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">前5大妈团就占了3个，怎么还拿不到ONE PIECE，成为海贼王呢</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="action-bar btns-bar" class="clear-g wrap-action-gw">
                <div class="action-click-gw">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw">
                    <a href="javascript:void(0)">回复</a>
                </span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                    <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                    <i class="gap-gw gap-line-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                    <a href="javascript:void(0)"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                </div>
            </div>
        </div>
            </div>
</div>
            </div>
            <!-- 盖楼 End -->
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">你知道白胡子多少亿？香克斯多少亿你知道？凯多多少你又知道？？？？</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1457398939" data-user-id="-559244632" data-platform-id="14" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="林菲儿">
                <div class="img-corner"></div>
                <img src="http://qzapp.qlogo.cn/qzapp/101339263/49E1A1A4AABABD16E8069FDE2BBC75B0/100" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">2017年9月10日 23:30</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">林菲儿</a></span>
                                
                <span class="user-address-gw">[<i>广东省深圳市</i>网友]</span>
                            </div>
            
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">路飞不是打败了士力架吗,啥时候能升9亿10亿啊?</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1457331948" data-user-id="-559244655" data-platform-id="14" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="mR.lonE1Y">
                <div class="img-corner"></div>
                <img src="http://qzapp.qlogo.cn/qzapp/101339263/0AA354FBA77612EFDD9D83A3DA9CC01F/100" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">2017年9月10日 22:57</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">mR.lonE1Y</a></span>
                                            </div>
            
            
            <!-- 盖楼 Begin -->
            <div class="wrap-build-gw">
                <div node-type="cmt-item floor-item" data-id="1456988865" data-user-id="-1126476752" data-platform-id="14" class="build-floor-gw">     <div node-type="child-floor">
    </div>
    <div node-type="floor-content" class="build-msg-gw">
        <div class="wrap-user-gw">
            <span class="user-time-gw user-floor-gw">1</span>
            <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">夏天的尾巴</a></span>
            
            <span class="user-address-gw">[<i>浙江省衢州市</i>网友]</span>
                    </div>
        
        <div>
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">前5大妈团就占了3个，怎么还拿不到ONE PIECE，成为海贼王呢</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="action-bar btns-bar" class="clear-g wrap-action-gw">
                <div class="action-click-gw">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw">
                    <a href="javascript:void(0)">回复</a>
                </span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                    <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                    <i class="gap-gw gap-line-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                    <a href="javascript:void(0)"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                </div>
            </div>
        </div>
            </div>
</div>
            </div>
            <!-- 盖楼 End -->
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">为啥巴基没成为海贼王，为啥黑猫没成为海贼王，为啥克里克，阿龙，鳄鱼都没成为海贼王？？？因为后面还有更厉害的没出现啊。。</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1457229021" data-user-id="877591274" data-platform-id="16" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="_Ronnie">
                <div class="img-corner"></div>
                <img src="http://wx.qlogo.cn/mmopen/AUeqw3pic24cNFjVzXZxh2462iaUjNicbqib2jbM0dpVI5DbTo1INjeYv9rIuficib2B2XvWIW721LKhCayj3wNaRjhtkYfFCiaiaUfD/0" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">2017年9月10日 20:30</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">_Ronnie</a></span>
                                
                <span class="user-address-gw">[<i>上海市</i>网友]</span>
                            </div>
            
            
            <!-- 盖楼 Begin -->
            <div class="wrap-build-gw">
                <div node-type="cmt-item floor-item" data-id="1457010499" data-user-id="727683918" data-platform-id="16" class="build-floor-gw">     <div node-type="child-floor">
    </div>
    <div node-type="floor-content" class="build-msg-gw">
        <div class="wrap-user-gw">
            <span class="user-time-gw user-floor-gw">1</span>
            <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">戏魅</a></span>
            
            <span class="user-address-gw">[<i>重庆市</i>网友]</span>
                    </div>
        
        <div>
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">七武海还成名以早的不能算。这些人的赏金都很久没有更新了。
比如我大明哥的3亿.</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="action-bar btns-bar" class="clear-g wrap-action-gw">
                <div class="action-click-gw">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw">
                    <a href="javascript:void(0)">回复</a>
                </span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                    <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                    <i class="gap-gw gap-line-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                    <a href="javascript:void(0)"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                </div>
            </div>
        </div>
            </div>
</div>
            </div>
            <!-- 盖楼 End -->
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">你大明哥被抓起来了 抓起来就对ZF造成不了威胁  实际上已经是0了</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1457185568" data-user-id="1252532519" data-platform-id="2" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="发恰哥">
                <div class="img-corner"></div>
                <img src="http://photo.pic.sohu.com/images/oldblog/person/11111.gif" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">2017年9月10日 20:08</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">发恰哥</a></span>
                                
                <span class="user-address-gw">[<i>上海市</i>网友]</span>
                            </div>
            
            
            <!-- 盖楼 Begin -->
            <div class="wrap-build-gw">
                <div node-type="cmt-item floor-item" data-id="1456988865" data-user-id="-1126476752" data-platform-id="14" class="build-floor-gw">     <div node-type="child-floor">
    </div>
    <div node-type="floor-content" class="build-msg-gw">
        <div class="wrap-user-gw">
            <span class="user-time-gw user-floor-gw">1</span>
            <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">夏天的尾巴</a></span>
            
            <span class="user-address-gw">[<i>浙江省衢州市</i>网友]</span>
                    </div>
        
        <div>
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">前5大妈团就占了3个，怎么还拿不到ONE PIECE，成为海贼王呢</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="action-bar btns-bar" class="clear-g wrap-action-gw">
                <div class="action-click-gw">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw">
                    <a href="javascript:void(0)">回复</a>
                </span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                    <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                    <i class="gap-gw gap-line-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                    <a href="javascript:void(0)"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                </span>
                    
                </div>
            </div>
        </div>
            </div>
</div>
            </div>
            <!-- 盖楼 End -->
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">大妈手下没人读懂石头信息，找不到ONE PIECE，现在漫画世界能读懂的就一人。</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1457010499" data-user-id="727683918" data-platform-id="16" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="戏魅">
                <div class="img-corner"></div>
                <img src="http://wx.qlogo.cn/mmopen/cyM7HhlLZLWMRLUlkJjrwdFnUt90BAylg3ZYNBBBB65ibALucHQhOXlicbZ87EqZNsXruekwfWL1yWCHXIOgcgpT2EciaurwkgZ/0" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">2017年9月10日 16:05</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">戏魅</a></span>
                                
                <span class="user-address-gw">[<i>重庆市</i>网友]</span>
                            </div>
            
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">七武海还成名以早的不能算。这些人的赏金都很久没有更新了。<br>比如我大明哥的3亿.</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1456988865" data-user-id="-1126476752" data-platform-id="14" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="夏天的尾巴">
                <div class="img-corner"></div>
                <img src="http://qzapp.qlogo.cn/qzapp/101339263/15FBE1913AD0005B12141D7E634C7984/100" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">2017年9月10日 15:20</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">夏天的尾巴</a></span>
                                
                <span class="user-address-gw">[<i>浙江省衢州市</i>网友]</span>
                            </div>
            
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">前5大妈团就占了3个，怎么还拿不到ONE PIECE，成为海贼王呢</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1456922217" data-user-id="877378504" data-platform-id="16" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="Shane">
                <div class="img-corner"></div>
                <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEKbd0U06mKx9GFZiajJvWocsKb0Pe4pjvSEI4kIzxPbCU9UKuoiaQbMZO34WtjFkTC5lOTy8VXmKLibA/0" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">2017年9月10日 13:27</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">Shane</a></span>
                                
                <span class="user-address-gw">[<i>福建省福州市</i>网友]</span>
                            </div>
            
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">最新一话夏洛特[emoji:00b7]佩罗斯佩罗(糖果大臣)的赏金好像是7亿 没上榜吗</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div><div node-type="cmt-item" data-id="1456921615" data-user-id="877378504" data-platform-id="16" class="clear-g block-cont-gw">
    <div class="cont-head-gw">
        <div class="head-img-gw">
                        <a node-type="photo" href="javascript:;" title="Shane">
                <div class="img-corner"></div>
                <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEKbd0U06mKx9GFZiajJvWocsKb0Pe4pjvSEI4kIzxPbCU9UKuoiaQbMZO34WtjFkTC5lOTy8VXmKLibA/0" width="42" height="42" alt="">
            </a>
        </div>
    </div>
    <div class="cont-msg-gw">
        <div class="msg-wrap-gw">
            <div class="wrap-user-gw global-clear-spacing">
                                <span class="user-time-gw">2017年9月10日 13:25</span>
                <span node-type="nickname" class="user-name-gw"><a href="javascript:void(0)">Shane</a></span>
                                
                <span class="user-address-gw">[<i>福建省福州市</i>网友]</span>
                            </div>
            
            
            <div class="wrap-issue-gw">
                <p class="issue-wrap-gw"><span class="wrap-word-gw">额外</span></p>
                <div class="cy-see-more">
                    <span></span><i></i>
                </div>
            </div>
            <!-- 图片展示 -->
            
            <div node-type="btns-bar" class="clear-g wrap-action-gw">
                <div node-type="action-click-gw" class="action-click-gw global-clear-spacing">
                    <i class="gap-gw"></i>
                    <span node-type="report" class="click-report-gw"><a href="javascript:void(0)"><i class="icon-gw icon-flag"></i><em>举报</em></a></span><i class="gap-gw"></i><span node-type="reply" class="click-reply-gw"><a href="javascript:void(0)">回复</a></span>
                    <i class="gap-gw"></i>
                    <span node-type="support" class="click-ding-gw">
                        <a href="javascript:;"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                    <i class="gap-gw"></i>
                    <span node-type="oppose" class="click-cai-gw">
                        <a href="javascript:;"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a>
                    </span>
                    
                <i class="gap-gw"></i><span node-type="prop" class="click-prop-gw"><span class="prop-span"><a href="javascript:void(0)"></a></span></span></div>
                
            </div>
                    </div>
    </div>
</div></div>
    </div>
</div>
<!-- 评论列表  E --><div class="module-cmt-footer">
    <!-- 评论关闭 -->
    <div class="list-comment-close-w">
        <div class="close-wrap-w close-wrap-b">该评论已关闭!</div>
    </div>
    <!-- 翻页 -->
    <div class="section-page-w">
    </div>
    <!-- 某站正在使用畅言 -->
    <div class="section-service-w">
        <div class="service-wrap-w">
            <a href="http://changyan.kuaizhan.com/" target="_blank">
            
            鼠绘漫画网正在使用畅言
                        </a>
        </div>
    </div>
    <div node-type="cy-to-shequ" class="cy-redirect-btn">
        <span class="cy-redirect-text">去社区看看吧</span><i class="cy-right-arrow"></i>
    </div>
    <div node-type="cy-to-hots" class="cy-redirect-btn">
        <span class="cy-redirect-text">去热评看看吧</span><i class="cy-right-arrow"></i>
    </div>
    <div class="cy-to-shequ-float"></div>
</div><div class="module-cmt-notice">
    <ul class="nt-list">
        
        <li node-type="notice-message" data-alias="message" data-type="message" data-static="static" class="nt-item" style=" display: none ">
            <div class="nt-logo"></div>
            <a node-type="notice-content" class="nt-text" href="javascript:void(0);">你收到<i>0</i>条新通知</a>
            <a class="nt-close" href="javascript:void(0);"></a>
        </li>
        
        <li node-type="notice-support" data-alias="support" data-type="support" data-static="static" class="nt-item" style=" display: none ">
            <div class="nt-logo"></div>
            <a node-type="notice-content" class="nt-text" href="javascript:void(0);">你有<i>0</i>条评论收到赞同</a>
            <a class="nt-close" href="javascript:void(0);"></a>
        </li>
        
        <li node-type="notice-reply" data-alias="reply" data-type="reply" data-static="static" class="nt-item" style=" display: none ">
            <div class="nt-logo"></div>
            <a node-type="notice-content" class="nt-text" href="javascript:void(0);">你有<i>0</i>条新回复</a>
            <a class="nt-close" href="javascript:void(0);"></a>
        </li>
        
        <li node-type="notice-hots" data-alias="hots" data-type="hots" data-static="static" class="nt-item" style=" display: none ">
            <div class="nt-logo"></div>
            <a node-type="notice-content" class="nt-text" href="javascript:void(0);">本日畅言热评新鲜出炉啦！</a>
            <a class="nt-close" href="javascript:void(0);"></a>
        </li>
        
        <li node-type="notice-task" data-alias="task" data-type="task" data-static="static" class="nt-item" style=" display: none ">
            <div class="nt-logo"></div>
            <a node-type="notice-content" class="nt-text" href="javascript:void(0);">你有<i>0</i>个任务已完成</a>
            <a class="nt-close" href="javascript:void(0);"></a>
        </li>
        
        <li node-type="notice-history" data-alias="history" data-type="history" data-static="static" class="nt-item" style=" display: none ">
            <div class="nt-logo"></div>
            <a node-type="notice-content" class="nt-text" href="javascript:void(0);">你收获<i>0</i>个畅言足迹</a>
            <a class="nt-close" href="javascript:void(0);"></a>
        </li>
            </ul>
</div></div></div>