include ./layout.jade

.fh5co-loader
#page
	#fh5co-aside(style='background-image: url(/images/image_1.jpg)')
		.overlay
		nav(role='navigation')
			ul
				li
					a(href='/' title='Home')
						i.icon-home
			br
			ul
				li
					a#add(href='javascript:;' title='Add')
						i.icon-plus
		.featured
			span admin
			h2 Uercal


#fh5co-main-content
	.fh5co-post
		- var blogs = data
		each val,index in blogs
			.fh5co-entry.padding(style='background-image: url("#{val.background}");opacity: 0.4;', data-stellar-background-ratio='0.1')
				//- img(src='images/project-1.jpg', title='Free HTML5 Bootstrap Template by FreeHTML5.co')
				div
					a.fh5co-post-date #{val.created}
					h2
						a(href='main/detail/#{val._id}') #{val.title}
					p
		footer
			div
				input#handle_status(value='', hidden='hidden')

.gototop.js-top
	a.js-gotop(href='#')
		i.icon-arrow-up


include ./js.jade
script.
	$('div .padding').mouseover(function(){
		$(this).css('opacity',0.8);		
	})
	$('div .padding').mouseout(function(){
		$(this).css('opacity',0.4);		
	})
	$('#add').on('click',function(){		
			layer.open({
				type: 2,
				title: 'Add Blog',
				maxmin: false,
				shadeClose: true, //点击遮罩关闭层
				area : ['550px' , '520px'],
				content: 'main/add',
				end:function(){
					var status = $('#handle_status').val();
					if(status=='1'){
						window.location.reload();
					}
				}
			});
	})