include ./layout.jade

#fh5co-main-content
	.fh5co-post
		- var blogs = data
		each val,index in blogs
			.fh5co-entry.padding
				img(src='images/project-1.jpg', title='Free HTML5 Bootstrap Template by FreeHTML5.co')
				div
					span.fh5co-post-date #{val.created}
					h2
						a(href='single.html') #{val.title}
					p		
		footer
			div

.gototop.js-top
	a.js-gotop(href='#')
		i.icon-arrow-up

include ./js.jade