include ./layout.jade

#fh5co-main-content
	.fh5co-post
		- var blogs = data
		each val,index in blogs
			.fh5co-entry.padding
				img(src='images/project-1.jpg', title='Free HTML5 Bootstrap Template by FreeHTML5.co')
				div
					span.fh5co-post-date #{val.created}
					h2
						a(href='single.html') #{val.title}
					p		
		footer
			div

.gototop.js-top
	a.js-gotop(href='#')
		i.icon-arrow-up
// jQuery
script(src='js/jquery.min.js')
// jQuery Easing
script(src='js/jquery.easing.1.3.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// Waypoints
script(src='js/jquery.waypoints.min.js')
// Stellar Parallax
script(src='js/jquery.stellar.min.js')
// Main
script(src='js/main2.js')