// jQuery
script(src='/js/jquery.min.js')
// jQuery Easing
script(src='/js/jquery.easing.1.3.js')
// Bootstrap
script(src='/js/bootstrap.min.js')
// Waypoints
script(src='/js/jquery.waypoints.min.js')
// Stellar Parallax
script(src='/js/jquery.stellar.min.js')
// Main
script(src='/js/main2.js')
// Lay
script(src='/layer/layer.js')

script.
  $('#leave').on('click',function(){
     layer.prompt({title: '输入你的留言，并确认', formType: 2}, function(text, index){
      $.post('/main/addMessage/#{id}',{name:'#{name}',head:'head',content:text},function(res){
        if(res=='ok'){
          var ii = layer.load();
          //此处用setTimeout演示ajax的回调
          setTimeout(function(){
            layer.close(ii);
            window.location.reload();
          }, 1000);      
        }
      });
    })
  })
  $('#show').on('click',function(){
    layer.open({
      type: 2,
      title: 'Show Message',
      maxmin: false,
      shadeClose: true, //点击遮罩关闭层
      area : ['550px' , '520px'],
      content: '/main/showMessage/#{id}'
      });
  })