
doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Story &mdash; Free Website Template, Free HTML5 Template by freehtml5.co
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='description', content='Free HTML5 Website Template by freehtml5.co')
	meta(name='keywords', content='free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive')
	meta(name='author', content='freehtml5.co')
	// Facebook and Twitter integration
	meta(property='og:title', content='')
	meta(property='og:image', content='')
	meta(property='og:url', content='')
	meta(property='og:site_name', content='')
	meta(property='og:description', content='')
	meta(name='twitter:title', content='')
	meta(name='twitter:image', content='')
	meta(name='twitter:url', content='')
	meta(name='twitter:card', content='')
	link(href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800', rel='stylesheet')
	// Animate.css
	link(rel='stylesheet', href='css/animate2.css')
	// Icomoon Icon Fonts
	link(rel='stylesheet', href='css/icomoon2.css')
	// Bootstrap
	link(rel='stylesheet', href='css/bootstrap.css')
	// Theme style
	link(rel='stylesheet', href='css/style2.css')
	//
	//flavr
	link(rel='stylesheet', href='flavr/css/bootstrap.min.css')
	link(rel='stylesheet', href='flavr/css/style.css')
	link(rel='stylesheet', href='flavr/css/animate.css')
	link(rel='stylesheet', href='flavr/css/flavr.css')
	// Modernizr JS
	script(src='js/modernizr-2.6.2.min.js')
	// FOR IE9 below
	//if lt IE 9
		script(src='js/respond.min.js')
.fh5co-loader
#page
	#fh5co-aside(style='background-image: url(images/image_1.jpg)')
		.overlay
		nav(role='navigation')
			ul
				li
					a(href='/' title='Home')
						i.icon-home
			&nbsp;		
			ul
				li
					a(href='/main/add' title='Add' id="add")
						i.icon-plus			
		.featured
			span admin
			h2 Uercal