include ../layout.jade

#fh5co-main
	.fh5co-narrow-content
		.row.row-bottom-padded-md
			.col-md-6.animate-box(data-animate-effect='fadeInLeft')
				img.img-responsive(src='images/img_bg_1.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
			.col-md-6.animate-box(data-animate-effect='fadeInLeft')
				h2.fh5co-heading About Company
				p
				p
	.fh5co-narrow-content
		h2.fh5co-heading.animate-box(data-animate-effect='fadeInLeft') Our Services
		.row
			.col-md-6
				.fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
					.fh5co-icon
						i.icon-settings
					.fh5co-text
						h3 Strategy
						p
			.col-md-6
				.fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
					.fh5co-icon
						i.icon-search4
					.fh5co-text
						h3 Explore
						p
			.col-md-6
				.fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
					.fh5co-icon
						i.icon-paperplane
					.fh5co-text
						h3 Direction
						p
			.col-md-6
				.fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
					.fh5co-icon
						i.icon-params
					.fh5co-text
						h3 Expertise
						p
	.fh5co-narrow-content
		.row
			.col-md-4.animate-box(data-animate-effect='fadeInLeft')
				h1.fh5co-heading-colored Get in touch
		.row
			.col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
				p.fh5co-lead
				p
					a.btn.btn-primary(href='#') Learn More
// jQuery
script(src='js/jquery.min.js')
// jQuery Easing
script(src='js/jquery.easing.1.3.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// Waypoints
script(src='js/jquery.waypoints.min.js')
// Flexslider
script(src='js/jquery.flexslider-min.js')
// MAIN JS
script(src='js/main.js')