include ./layout.jade

#fh5co-main
	.fh5co-narrow-content
		h2.fh5co-heading.animate-box(data-animate-effect='fadeInLeft') Read Our Blog
		.row.row-bottom-padded-md
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-1.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='single.html')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-2.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-3.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-4.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-5.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-6.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-3.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-4.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-1.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-2.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-3.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
			.col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
				.blog-entry
					a.blog-img(href='#')
						img.img-responsive(src='images/img-4.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
					.desc
						h3
							a(href='#') Inspirational Website
						span
							small by Admin 
							small  Web Design 
							small
								i.icon-comment
						p
						a.lead(href='#')
							i.icon-arrow-right3
	#get-in-touch
		.fh5co-narrow-content
			.row
				.col-md-4.animate-box(data-animate-effect='fadeInLeft')
					h1.fh5co-heading-colored Get in touch
			.row
				.col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
					p.fh5co-lead
					p
						a.btn.btn-primary(href='#') Learn More
// jQuery
script(src='js/jquery.min.js')
// jQuery Easing
script(src='js/jquery.easing.1.3.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// Waypoints
script(src='js/jquery.waypoints.min.js')
// Flexslider
script(src='js/jquery.flexslider-min.js')
// MAIN JS
script(src='js/main.js')