include ./layout.jade

#fh5co-main
  aside#fh5co-hero.js-fullheight
    .flexslider.js-fullheight
      ul.slides
        li(style='background-image: url(images/img_bg_1.jpg);')
          .overlay
          .container-fluid
            .row
              .col-md-8.col-md-offset-2.text-center.js-fullheight.slider-text
                .slider-text-inner
                  h1
                    strong Welcome Uercal
        li(style='background-image: url(images/img_bg_2.jpg);')
          .overlay
          .container-fluid
            .row
              .col-md-8.col-md-offset-2.text-center.js-fullheight.slider-text
                .slider-text-inner
                  h1 We are Happy to Create Newest Modern Websites
                  h2 Welcome
                    a(href='http://www.cssmoban.com/', target='_blank', title='模板之家') &#x6A21;&#x677F;&#x4E4B;&#x5BB6;
                    a(href='http://www.cssmoban.com/', title='网页模板', target='_blank') &#x7F51;&#x9875;&#x6A21;&#x677F;
                  p
                    a.btn.btn-primary.btn-demo.popup-vimeo(href='https://vimeo.com/channels/staffpicks/93951774')
                      i.icon-monitor  
                      |Live Preview 
                    a.btn.btn-primary.btn-learn Learn More 
                      i.icon-arrow-right3 
        li(style='background-image: url(images/img_bg_3.jpg);')
          .overlay
          .container-fluid
            .row
              .col-md-8.col-md-offset-2.text-center.js-fullheight.slider-text
                .slider-text-inner
                  h1 Download our Free HTML5 Bootstrap Template
                  h2
                    a(href='http://www.cssmoban.com/', target='_blank', title='模板之家') &#x6A21;&#x677F;&#x4E4B;&#x5BB6;
                    a(href='http://www.cssmoban.com/', title='网页模板', target='_blank') &#x7F51;&#x9875;&#x6A21;&#x677F;
                  p
                    a.btn.btn-primary.btn-demo.popup-vimeo(href='https://vimeo.com/channels/staffpicks/93951774')
                      i.icon-monitor
                    a.btn.btn-primary.btn-learn
                      i.icon-arrow-right3
  .copyrights
    a(href='http://www.cssmoban.com/', title='网站模板') &#x7F51;&#x7AD9;&#x6A21;&#x677F;
  .fh5co-narrow-content
    h2.fh5co-heading.animate-box(data-animate-effect='fadeInLeft') Services
    .row
      .col-md-6
        .fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
          .fh5co-icon
            i.icon-settings
          .fh5co-text
            h3 Strategy
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .col-md-6
        .fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
          .fh5co-icon
            i.icon-search4
          .fh5co-text
            h3 Explore
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .col-md-6
        .fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
          .fh5co-icon
            i.icon-paperplane
          .fh5co-text
            h3 Direction
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .col-md-6
        .fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
          .fh5co-icon
            i.icon-params
          .fh5co-text
            h3 Expertise
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
  .fh5co-narrow-content
    h2.fh5co-heading.animate-box(data-animate-effect='fadeInLeft') Recent Blog
    .row.row-bottom-padded-md
      .col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
        .blog-entry
          a.blog-img(href='#')
            img.img-responsive(src='images/img-1.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
          .desc
            h3
              a(href='#') Inspirational Website
            span
              small by Admin 
              small  Web Design /               
              small
                i.icon-comment 14
            p Design must be functional and functionality must be translated into visual aesthetics
            a.lead(href='#') Read More 
              i.icon-arrow-right3
      .col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
        .blog-entry
          a.blog-img(href='#')
            img.img-responsive(src='images/img-2.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
          .desc
            h3
              a(href='#') Inspirational Website
            span
              small by Admin
              small  Web Design  /               
              small
                i.icon-comment 14
            p Design must be functional and functionality must be translated into visual aesthetics
            a.lead(href='#') Read More 
              i.icon-arrow-right3
      .col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
        .blog-entry
          a.blog-img(href='#')
            img.img-responsive(src='images/img-3.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
          .desc
            h3
              a(href='#') Inspirational Website
            span
              small by Admin 
              small  Web Design 
              small
                i.icon-comment
            p
            a.lead(href='#')
              i.icon-arrow-right3
      .col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect='fadeInLeft')
        .blog-entry
          a.blog-img(href='#')
            img.img-responsive(src='images/img-4.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
          .desc
            h3
              a(href='#') Inspirational Website
            span
              small by Admin 
              small  Web Design 
              small
                i.icon-comment
            p
            a.lead(href='#')
              i.icon-arrow-right3
  #get-in-touch
    .fh5co-narrow-content
      .row
        .col-md-4.animate-box(data-animate-effect='fadeInLeft')
          h1.fh5co-heading-colored Get in touch
      .row
        .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
          p.fh5co-lead
          p
            a.btn.btn-primary(href='#') Learn More

include ./js.jade