// jQuery Easing
script(src='js/jquery.easing.1.3.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// Waypoints
script(src='js/jquery.waypoints.min.js')
// Flexslider
script(src='js/jquery.flexslider-min.js')
// MAIN JS
script(src='js/main.js')
script.
  $(function(){
    if($('#ip').html()!=''){
      console.log($('#ip').html());
    }else{
      $.get('https://api.ipify.org?format=json')
            .done(function (data) {
              //- swal(data.ip);
              $.post('/saveIp',{ip:data.ip},function(res){
                if(res=='ok'){
                  $('#ip').html(data.ip);
                }
              });              
            });
    };
  });
  $('#login').on('click',function(){
    var html ='<div class="form-row"><input type="text" name="username" placeholder="Username" /></div><div class="form-row"><input type="password" name="password" placeholder="Password" /></div><div class="form-row"><input type="checkbox" name="remember" id="check"/><label for="check">Remember me</label></div>';
    new $.flavr({
    title:'Form',
    iconPath:'flavr/images/',
    icon:'email.png',
    content:'Login for loving',
    dialog:'form',
    form:{content:html,method:'post'},
    onSubmit:function($container,$form){
        alert($form.serialize());
        return false;
      }
    });
  })