
doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title #{title}
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='description', content='Free HTML5 Website Template by FreeHTML5.co')
	meta(name='keywords', content='free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive')
	// Facebook and Twitter integration
	meta(property='og:title', content='')
	meta(property='og:image', content='')
	meta(property='og:url', content='')
	meta(property='og:site_name', content='')
	meta(property='og:description', content='')
	meta(name='twitter:title', content='')
	meta(name='twitter:image', content='')
	meta(name='twitter:url', content='')
	meta(name='twitter:card', content='')
	// Place favicon.ico and apple-touch-icon.png in the root directory
	link(rel='shortcut icon', href='favicon.ico')
	// Animate.css
	link(rel='stylesheet', href='css/animate.css')
	// Icomoon Icon Fonts
	link(rel='stylesheet', href='css/icomoon.css')
	// Bootstrap
	link(rel='stylesheet', href='css/bootstrap.css')
	// Flexslider
	link(rel='stylesheet', href='css/flexslider.css')
	// Theme style
	link(rel='stylesheet', href='css/style.css')
	//- link(rel='stylesheet', type='text/css', href='sweetalert2/dist/sweetalert2.min.css')
	//- script(src='sweetalert2/dist/sweetalert2.min.js')
	//flavr
	link(rel='stylesheet', href='flavr/css/bootstrap.min.css')
	link(rel='stylesheet', href='flavr/css/style.css')
	link(rel='stylesheet', href='flavr/css/animate.css')
	link(rel='stylesheet', href='flavr/css/flavr.css')
	script(src='flavr/js/jquery.min.js')
	script(src='layer/layer.js')
	script(src='flavr/js/flavr.min.js')
	// Modernizr JS
	script(src='js/modernizr-2.6.2.min.js')
	// FOR IE9 below
	//if lt IE 9
		script(src='js/respond.min.js')
	style.
		#person{
		width: 85px;
		height: 85px;
		margin-bottom: 20px;
		border-radius: 50%;
		cursor:hand;
		}
		.icon-user{
			font-size:200%;
		}
		.icon-cross2{
			font-size:200%;			
		}
		.icon-user-add{
			font-size:200%;
		}
		.icon-user-outline{
			font-size:200%;
		}
			
#fh5co-page
	a.js-fh5co-nav-toggle.fh5co-nav-toggle(href='#')
		i
	aside#fh5co-aside.border.js-fullheight(role='complementary')
		h1#fh5co-logo
			a(href='index.html') Marble
		nav#fh5co-main-menu(role='navigation')

			- var data = menu
			case data
				when 0
					ul
						li.fh5co-active
							a(href='/') Home
						li
							a(href='/blog') Blog
						li
							a(href='/portfolio') Portfolio
						li
							a(href='/about') About						
				when 1
					ul
						li
							a(href='/') Home
						li.fh5co-active
							a(href='/blog') Blog
						li
							a(href='/portfolio') Portfolio
						li
							a(href='/about') About					
				when 2
					ul
						li
							a(href='/') Home
						li
							a(href='/blog') Blog
						li.fh5co-active
							a(href='/portfolio') Portfolio
						li
							a(href='/about') About						
				when 3
					ul
						li
							a(href='/') Home
						li
							a(href='/blog') Blog
						li
							a(href='/portfolio') Portfolio
						li.fh5co-active
							a(href='/about') About										
		.fh5co-footer
			div
				input#handle_status(value='', hidden='hidden')
			- var user = type
			case user
				when 'c'
					p Welcome Customer by:	
					p#ip #{code}
					ul
						li
							a#login(href='javascript:;' title='login')
								i.icon-user-outline
						li
							a#regist(href='javascript:;' title='reg')
								i.icon-user-add
				when 'u'
					img#person(src='#{head}' title='admin')
					ul
						li
							a(href='/main' title='info')
								i.icon-user
						li
							a(href='/logout' title='logout')
								i.icon-cross2
			br
			
			ul
				li
					a(href='#')
						i.icon-facebook2
				li
					a(href='#')
						i.icon-twitter2
				li
					a(href='#')
						i.icon-instagram
				li
					a(href='#')
						i.icon-linkedin2
