include ./layout.jade

#fh5co-main
	.fh5co-narrow-content
		h2.fh5co-heading.animate-box(data-animate-effect='fadeInLeft') Portfolio
		.row.row-bottom-padded-md
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-1.jpg);')
					.desc
						h3 Project Name
						span Illustration
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-2.jpg);')
					.desc
						h3 Project Name
						span Brading
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-3.jpg);')
					.desc
						h3 Project Name
						span Illustration
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-4.jpg);')
					.desc
						h3 Project Name
						span Illustration
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-5.jpg);')
					.desc
						h3 Project Name
						span Brading
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-6.jpg);')
					.desc
						h3 Project Name
						span Illustration
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-1.jpg);')
					.desc
						h3 Project Name
						span Illustration
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-2.jpg);')
					.desc
						h3 Project Name
						span Brading
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-1.jpg);')
					.desc
						h3 Project Name
						span Illustration
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-2.jpg);')
					.desc
						h3 Project Name
						span Brading
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-3.jpg);')
					.desc
						h3 Project Name
						span Illustration
			.col-md-3.col-sm-6.col-padding.text-center.animate-box
				a.work.image-popup(href='#', style='background-image: url(images/img-4.jpg);')
					.desc
						h3 Project Name
						span Illustration
	.fh5co-narrow-content
		.row
			.col-md-4.animate-box(data-animate-effect='fadeInLeft')
				h1.fh5co-heading-colored Get in touch
		.row
			.col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
				p.fh5co-lead
				p
					a.btn.btn-primary(href='#') Learn More
// jQuery
script(src='js/jquery.min.js')
// jQuery Easing
script(src='js/jquery.easing.1.3.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// Waypoints
script(src='js/jquery.waypoints.min.js')
// Flexslider
script(src='js/jquery.flexslider-min.js')
// MAIN JS
script(src='js/main.js')